/* overrides for collapsibles */
@media screen {
    .hide {
        display: none;
    }
    .hide + label ~ div {
        display: none;
    }
    .hide + label {
        display: block;
        font-size: 1em;
        padding: 0.5em 0.5em;
        background: #eaeaea;
    }
    .hide:checked + label + div {
        display: block;
    }

    .hide + label .collapser {
        position: absolute;
        padding: 0.3em 0.3em 0.3em 0.3em;
        font-size: 0.7em;
        transform: rotate(90deg);
        transition: transform 0.1s;
    }
    .hide:checked + label .collapser {
        position: absolute;
        padding: 0.3em 0.3em 0.3em 0.3em;
        font-size: 0.7em;
        transform: rotate(90deg) scaleX(-1);
        transition: transform 0.1s;
    }
}

