/* overrides for collapsibles */
@media screen {
    .label {
    }

    .hide {
        display: none;
    }
    .hide + label ~ div {
        display: none;
    }
    .hide + label {
        display: block;
        font-size: 1em;
        padding: 0.5em 0.5em;
        background: #eaeaea;
        user-select: none;
        margin-bottom: 1em;
    }
    .hide:checked + label + div {
        display: block;
    }
    .hide:checked + label {
        margin-bottom: 0;
    }

    .hide + label .collapser {
        position: absolute;
        padding: 0.3em 0.3em 0.3em 0.3em;
        font-size: 0.7em;
        transform: rotate(90deg);
    }
    .hide:checked + label .collapser {
        position: absolute;
        padding: 0.3em 0.3em 0.3em 0.3em;
        font-size: 0.7em;
        transform: rotate(90deg) scaleX(-1);
    }
}

