.idea
.vscode
*.pyc
*.pyo
doc/_build
dist
.coverage
.coverage.docker
.nox
__pycache__
.pytest_cache
htmlcov
temp
artifacts
temp_config.py
.venv
.work
.mypy_cache
.devcontainer
.venv*
*.swp
build
Universum.egg-info
geckodriver.log
