/* overriding tables */
@media screen {
    .logo {
        height: 48px !important;
        align: left !important;
    }

    .wy-table-responsive table td {
        white-space: normal !important;
    }

    .wy-table-responsive {
        overflow: visible !important;
    }

    .option-list {
        width: 100% !important;
    }

    .option {
        width: 1px !important;
    }


    .hide {
        display: none;
    }
    .hide + label ~ div {
        display: none;
    }
    .hide + label {
        display: block;
    }
    .hide:checked + label + div {
        display: block;
    }
    .hide + label::after {
        content: " ▶";
    }
    .hide:checked + label::after {
        content: " ▼";
    }
}

