/* overriding tables */
@media screen {
    .logo {
        height: 48px !important;
        align: left !important;
    }

    .wy-table-responsive table td {
        white-space: normal !important;
    }

    .wy-table-responsive {
        overflow: visible !important;
    }

    .option-list {
        width: 100% !important;
    }

    .option {
        width: 1px !important;
    }


    .hide {
        display: none;
    }
    .hide + label ~ div {
        display: none;
    }
    .hide + label {
        display: block;
        font-size: 1em;
        padding: 0.5em 0.5em;
        background: #eaeaea;
    }
    .hide:checked + label + div {
        display: block;
    }

    .hide + label .collapser {
        position: absolute;
        padding: 0.3em 0.3em 0.3em 0.3em;
        font-size: 0.7em;
        transform: rotate(90deg);
        transition: transform 0.1s;
    }
    .hide:checked + label .collapser {
        position: absolute;
        padding: 0.3em 0.3em 0.3em 0.3em;
        font-size: 0.7em;
        transform: rotate(270deg);
        transition: transform 0.1s;
    }
}

