/* overriding tables */
@media screen {
    .wy-table-responsive table td {
        white-space: normal !important;
    }

    .wy-table-responsive {
        overflow: visible !important;
    }

    .option-list {
        width: 100% !important;
    }

    .option {
        width: 1px !important;
    }
}

